@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your global CSS file (e.g., globals.css) */
.ant-menu-item-selected {
  background-color: #F85807 !important; /* Light green background */
}

.ant-menu {
  background: black;
}

.ant-layout-sider-trigger {
  background-color: #121212 !important; /* Set your desired background color */
  color: #fff; /* Optional: Change the text/icon color */
}

/* Optional: Adjust hover effect for the collapse button */
.ant-layout-sider-trigger:hover {
  background-color: #555 !important; /* Set a different color on hover if needed */
}

.ant-spin-dot-item {
  background-color: #F85807 !important; /* Tailwind's green-500 */
}