@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your global CSS file (e.g., globals.css) */
.ant-menu-item{
  font-weight: 600;
  font-size: medium;
  color: white !important;
}
.ant-menu-item-selected {
  background-color: #F85807 !important;
  color: white !important;
  font-weight: 600;
}

.ant-menu {
  background: #323240;
}

.ant-layout-sider-trigger {
  background-color: rgb(71, 71, 71) !important; /* Set your desired background color */
  color: white !important; /* Optional: Change the text/icon color */
}

/* Optional: Adjust hover effect for the collapse button */
.ant-layout-sider-trigger:hover {
  background-color: #323240 !important; /* Set a different color on hover if needed */
}

.ant-spin-dot-item {
  background-color: #F85807 !important; /* Tailwind's green-500 */
}
.swiper-pagination{
  display: none;
}
.ant-layout-sider-children{
  background-color: #323240 !important;
}
.ant-menu-submenu-title{
  color: white !important;
}

.ant-menu-sub{
  font-size: small !important;
}
.ant-menu-title-content{
  font-size: medium;
  font-weight: 600;
}

:root {
  --menu-selected-color: #ff8818; /* Set your custom selected color */
  --menu-bg-selected: #fff3e6;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  color: var(--menu-selected-color) !important;
  background-color: var(--menu-bg-selected) !important;
}

.ant-menu-sub{
  background-color: #272731 !important;
}

/* .ant-select-outlined:focus,
.ant-select-outlined:active,
.ant-select-focused .ant-select-selector {
  outline-color: #F97316 !important;
  border-color: #F97316 !important; 
  box-shadow: 0 0 0 0px rgb(255, 255, 255) !important; 
} */

/* .ant-menu-item-selected a,
.ant-menu-submenu-selected a {
  color: var(--menu-selected-color) !important;
} */
:where(.css-dev-only-do-not-override-1kf000u).ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1kf000u).ant-menu-light > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #ff8818 !important; /* Your desired color */
}
